node-red/mqtt.json
[
    {
        "id": "b4be357e76808034",
        "type": "tab",
        "label": "Hello, World!",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6a2892f3a5238df2",
        "type": "tab",
        "label": "Device Simulator",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "35913bd898ddc0ce",
        "type": "tab",
        "label": "Device Location",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "63725a9c843a509a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "04171cf5dabf8df4",
        "type": "comment",
        "z": "b4be357e76808034",
        "name": "Publish",
        "info": "",
        "x": 130,
        "y": 100,
        "wires": []
    },
    {
        "id": "19493b427d8482de",
        "type": "inject",
        "z": "b4be357e76808034",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello, World!",
        "payloadType": "str",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "dad12ce4d44a7fac"
            ]
        ]
    },
    {
        "id": "dad12ce4d44a7fac",
        "type": "mqtt out",
        "z": "b4be357e76808034",
        "name": "",
        "topic": "upatras-ece-iot",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "63725a9c843a509a",
        "x": 360,
        "y": 160,
        "wires": []
    },
    {
        "id": "102310d233c13562",
        "type": "comment",
        "z": "b4be357e76808034",
        "name": "Subscribe",
        "info": "",
        "x": 140,
        "y": 280,
        "wires": []
    },
    {
        "id": "a3c909fde62db20d",
        "type": "mqtt in",
        "z": "b4be357e76808034",
        "name": "",
        "topic": "upatras-ece-iot",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "63725a9c843a509a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 340,
        "wires": [
            [
                "474ef264b37a4b6d"
            ]
        ]
    },
    {
        "id": "474ef264b37a4b6d",
        "type": "debug",
        "z": "b4be357e76808034",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 340,
        "wires": []
    },
    {
        "id": "7653b45af15ef072",
        "type": "comment",
        "z": "6a2892f3a5238df2",
        "name": "Publish",
        "info": "",
        "x": 130,
        "y": 120,
        "wires": []
    },
    {
        "id": "80268456b5c5aae9",
        "type": "inject",
        "z": "6a2892f3a5238df2",
        "name": "Device",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "76c17683818a87cf"
            ]
        ]
    },
    {
        "id": "76c17683818a87cf",
        "type": "function",
        "z": "6a2892f3a5238df2",
        "name": "payload",
        "func": "function getRandomIntInclusive(min, max) {\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1) + min);\n}\n\nfunction getDate() {\n    return new Date().toLocaleDateString('en-GB', { timeZone: 'Europe/Athens' });\n}\n\nfunction getTime() {\n    return new Date().toLocaleTimeString('en-GB', { timeZone: 'Europe/Athens' });\n}\n\nfunction getRandomCoords(center, radius) {\n    const radiusInDeg = (radius / 111320);\n\n    const r = radiusInDeg * Math.sqrt(Math.random());\n    const t = 2 * Math.PI * Math.random();\n\n    const lat = r * Math.sin(t);\n    const long = (r * Math.cos(t)) / Math.cos(center.lat * Math.PI / 180);\n\n    return { latitude: +(center.lat + lat).toFixed(6), longitude: +(center.long + long).toFixed(6) };\n}\n\nmsg.payload = {\n    \"name\": \"Device\",\n    \"id\": \"636d4da978963500800d0e5d\",\n    \"description\": \"Information about the device\",\n    \"data\": {\n        \"temperature\": getRandomIntInclusive(-10, 40),\n        \"humidity\": getRandomIntInclusive(30, 95),\n        \"location\": getRandomCoords({ lat: 38.241997, long: 21.742386 }, 2000),\n        \"date\": getDate(),\n        \"time\": getTime()\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "aedbcf90087c41ac",
                "1985543ef0b510ca",
                "8ad7964ea54890e4",
                "0785ceebc4b05103"
            ]
        ]
    },
    {
        "id": "3735e249f90d3e9a",
        "type": "comment",
        "z": "6a2892f3a5238df2",
        "name": "Subscribe",
        "info": "",
        "x": 140,
        "y": 340,
        "wires": []
    },
    {
        "id": "daa63583d3427099",
        "type": "mqtt in",
        "z": "6a2892f3a5238df2",
        "name": "",
        "topic": "device/1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "63725a9c843a509a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 400,
        "wires": [
            [
                "c16f684da86b5f8d"
            ]
        ]
    },
    {
        "id": "3554e313f89b69dd",
        "type": "mqtt in",
        "z": "6a2892f3a5238df2",
        "name": "",
        "topic": "device/1/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "63725a9c843a509a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "8cba054426f8afae"
            ]
        ]
    },
    {
        "id": "592c1c5f7d466245",
        "type": "mqtt in",
        "z": "6a2892f3a5238df2",
        "name": "",
        "topic": "device/1/location",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "63725a9c843a509a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 520,
        "wires": [
            [
                "f4b4bef06ad77d7e"
            ]
        ]
    },
    {
        "id": "cce2d5e56bd8fd2b",
        "type": "mqtt in",
        "z": "6a2892f3a5238df2",
        "name": "",
        "topic": "device/1/env/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "63725a9c843a509a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 580,
        "wires": [
            [
                "ce5c42d8a8dd6405"
            ]
        ]
    },
    {
        "id": "c2cffa09887c366e",
        "type": "mqtt in",
        "z": "6a2892f3a5238df2",
        "name": "",
        "topic": "device/1/env/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "63725a9c843a509a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 640,
        "wires": [
            [
                "6d3d90d16cbe8429"
            ]
        ]
    },
    {
        "id": "b3a24d4a3b491f4f",
        "type": "mqtt in",
        "z": "6a2892f3a5238df2",
        "name": "",
        "topic": "device/1/env/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "63725a9c843a509a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 700,
        "wires": [
            [
                "49718c1f5a795601"
            ]
        ]
    },
    {
        "id": "c16f684da86b5f8d",
        "type": "debug",
        "z": "6a2892f3a5238df2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 400,
        "wires": []
    },
    {
        "id": "8cba054426f8afae",
        "type": "debug",
        "z": "6a2892f3a5238df2",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 460,
        "wires": []
    },
    {
        "id": "f4b4bef06ad77d7e",
        "type": "debug",
        "z": "6a2892f3a5238df2",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 520,
        "wires": []
    },
    {
        "id": "ce5c42d8a8dd6405",
        "type": "debug",
        "z": "6a2892f3a5238df2",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 580,
        "wires": []
    },
    {
        "id": "6d3d90d16cbe8429",
        "type": "debug",
        "z": "6a2892f3a5238df2",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 640,
        "wires": []
    },
    {
        "id": "49718c1f5a795601",
        "type": "debug",
        "z": "6a2892f3a5238df2",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 700,
        "wires": []
    },
    {
        "id": "aae0d7a16c2f7b55",
        "type": "mqtt in",
        "z": "6a2892f3a5238df2",
        "name": "",
        "topic": "device/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "63725a9c843a509a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 800,
        "wires": [
            [
                "57e3946abf2a4df8"
            ]
        ]
    },
    {
        "id": "57e3946abf2a4df8",
        "type": "debug",
        "z": "6a2892f3a5238df2",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 800,
        "wires": []
    },
    {
        "id": "8ec40bb940d9140d",
        "type": "mqtt in",
        "z": "6a2892f3a5238df2",
        "name": "",
        "topic": "device/+/location",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "63725a9c843a509a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 860,
        "wires": [
            [
                "016638af4e95f2c4"
            ]
        ]
    },
    {
        "id": "016638af4e95f2c4",
        "type": "debug",
        "z": "6a2892f3a5238df2",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 860,
        "wires": []
    },
    {
        "id": "aedbcf90087c41ac",
        "type": "function",
        "z": "6a2892f3a5238df2",
        "name": "temperature",
        "func": "msg.payload = msg.payload.data.temperature;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 120,
        "wires": [
            [
                "29d0f2a3c9cbeeda"
            ]
        ]
    },
    {
        "id": "1985543ef0b510ca",
        "type": "function",
        "z": "6a2892f3a5238df2",
        "name": "humidity",
        "func": "msg.payload = msg.payload.data.humidity;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [
            [
                "c25df1d7cb80461f"
            ]
        ]
    },
    {
        "id": "8ad7964ea54890e4",
        "type": "function",
        "z": "6a2892f3a5238df2",
        "name": "location",
        "func": "msg.payload = msg.payload.data.location;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 240,
        "wires": [
            [
                "2ec36d47619f03ec"
            ]
        ]
    },
    {
        "id": "29d0f2a3c9cbeeda",
        "type": "mqtt out",
        "z": "6a2892f3a5238df2",
        "name": "",
        "topic": "device/1/env/temperature",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "63725a9c843a509a",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "c25df1d7cb80461f",
        "type": "mqtt out",
        "z": "6a2892f3a5238df2",
        "name": "",
        "topic": "device/1/env/humidity",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "63725a9c843a509a",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "2ec36d47619f03ec",
        "type": "mqtt out",
        "z": "6a2892f3a5238df2",
        "name": "",
        "topic": "device/1/location",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "63725a9c843a509a",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "0785ceebc4b05103",
        "type": "mqtt out",
        "z": "6a2892f3a5238df2",
        "name": "",
        "topic": "device/1",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "63725a9c843a509a",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "3bfc24a85d1b4b53",
        "type": "comment",
        "z": "35913bd898ddc0ce",
        "name": "Publish",
        "info": "",
        "x": 130,
        "y": 100,
        "wires": []
    },
    {
        "id": "b48ea31def467d51",
        "type": "inject",
        "z": "35913bd898ddc0ce",
        "name": "Device",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "68fa376daa8bf301"
            ]
        ]
    },
    {
        "id": "68fa376daa8bf301",
        "type": "function",
        "z": "35913bd898ddc0ce",
        "name": "payload",
        "func": "function getRandomIntInclusive(min, max) {\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1) + min);\n}\n\nfunction getDate() {\n    return new Date().toLocaleDateString('en-GB', { timeZone: 'Europe/Athens' });\n}\n\nfunction getTime() {\n    return new Date().toLocaleTimeString('en-GB', { timeZone: 'Europe/Athens' });\n}\n\nfunction getRandomCoords(center, radius) {\n    const radiusInDeg = (radius / 111320);\n\n    const r = radiusInDeg * Math.sqrt(Math.random());\n    const t = 2 * Math.PI * Math.random();\n\n    const lat = r * Math.sin(t);\n    const long = (r * Math.cos(t)) / Math.cos(center.lat * Math.PI / 180);\n\n    return { latitude: +(center.lat + lat).toFixed(6), longitude: +(center.long + long).toFixed(6) };\n}\n\nmsg.payload = {\n    \"name\": \"Device\",\n    \"id\": \"636d4da978963500800d0e5d\",\n    \"description\": \"Information about the device\",\n    \"data\": {\n        \"temperature\": getRandomIntInclusive(-10, 40),\n        \"humidity\": getRandomIntInclusive(30, 95),\n        \"location\": getRandomCoords({ lat: 38.241997, long: 21.742386 }, 2000),\n        \"date\": getDate(),\n        \"time\": getTime()\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "734a0d0d8c8ec9c8"
            ]
        ]
    },
    {
        "id": "734a0d0d8c8ec9c8",
        "type": "mqtt out",
        "z": "35913bd898ddc0ce",
        "name": "",
        "topic": "device/636d63da1773e67e52d9ade7/location",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "63725a9c843a509a",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "4f396157862c458a",
        "type": "comment",
        "z": "35913bd898ddc0ce",
        "name": "Subscribe",
        "info": "",
        "x": 140,
        "y": 280,
        "wires": []
    },
    {
        "id": "44f6ab9d1f58113a",
        "type": "function",
        "z": "35913bd898ddc0ce",
        "name": "function 1",
        "func": "msg.payload = {\n    \"name\": msg.payload.name,\n    \"lat\": msg.payload.data.location.latitude,\n    \"lon\": msg.payload.data.location.longitude\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 340,
        "wires": [
            [
                "b9d24ef02d9a749d",
                "126446d1c5c3b924"
            ]
        ]
    },
    {
        "id": "f808e0f13520b595",
        "type": "mqtt in",
        "z": "35913bd898ddc0ce",
        "name": "",
        "topic": "device/636d63da1773e67e52d9ade7/location",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "63725a9c843a509a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 340,
        "wires": [
            [
                "44f6ab9d1f58113a"
            ]
        ]
    },
    {
        "id": "126446d1c5c3b924",
        "type": "debug",
        "z": "35913bd898ddc0ce",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 280,
        "wires": []
    },
    {
        "id": "fc45ab1764f60e8f",
        "type": "worldmap",
        "z": "35913bd898ddc0ce",
        "name": "",
        "lat": "38.241997",
        "lon": "21.742386",
        "zoom": "14",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "",
        "maplist": "OSMC",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 880,
        "y": 340,
        "wires": []
    },
    {
        "id": "b9d24ef02d9a749d",
        "type": "worldmap-tracks",
        "z": "35913bd898ddc0ce",
        "name": "",
        "depth": "36000",
        "layer": "combined",
        "smooth": false,
        "x": 710,
        "y": 340,
        "wires": [
            [
                "fc45ab1764f60e8f"
            ]
        ]
    }
]
